{# Set the text updated for Iterative Question
  Available param
    - historyId : identifier for the history
    - questionText : the original question text
    - historyText :  the text of history (saved in question help)
    - questionClass : the CSS class attribute to allow specific update
#}
<div class="panel panel-default">
	<div class="panel-heading">
		<a href="#{{ historyId }}" data-toggle="collapse" aria-expanded="true" aria-controls="{{ historyId }}">
			{{ questionText }}
		</a>
	</div>
	<div class="panel-collapse collapse in" id="{{ historyId }}" aria-labelledby="{{ historyId }}">
		<div class="panel-body">
			{{ historyText }}
		</div>
	</div>
</div>
